<html>
    <head>
        <title>Add new row to csv file</title>
    </head>
    <body>
        <h1>Add new row to csv file</h1>
        <br />
        <form method="POST"> 
            {% for colnum in range(1,config['CSV_COLUMNS'] + 1) %}
             <label>Column{{colnum}}</label><input type="text" name='col{{colnum}}' /> <br />
            {% endfor %}
            <label>Save with sort</label><input type="checkbox" name='sort' />
            <button type="submit" name='submit' value="Form sent!">Submit</button>
        </form>
    </body>
</html>