{% extends "layout.html" %}

{% block title %} Modify row of csv file {% endblock %}

{% block content %}
    <body>
        <h1>Modif row of csv file</h1>
        <br />
        <form method="POST" action='/save_mod'>
            <input type="hidden" name='mod_index' value={{mod_index}} /> 
            
            {% for cell in mod_row %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Column {{loop.index}}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="col{{loop.index}}" value="{{cell}}" style="width: 200px;"/>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" name='submit' value="modify" class="btn btn-default">Modify Row</button>
            <button type="submit" name='submit' value="save_as_new" class="btn btn-default">Save as new row</button>
        </form>
{% endblock %}