#ignore __pycache__ folder
**/__pycache__

#ignore created backups in backup folder
/backup/*

#ignore created backups in test backup folder
/tests/backup/*

#ignore virtual env
/venv

#ignore custom module installation files
/flatfileed.egg-info

#ignore visual studio code settings folder
/.vscode

#ignore pytest cache folder and files
/.pytest_cache
