{% extends "layout.html" %}

{% block title %} List of backups {% endblock %}

{% block content %}
        <h1>List of available Backups</h1>
        <ul>
            {% for pair in backups %}
                <li>
                    {{pair[1]}}
                    <form method='POST' action='/show_backup'>
                        <input type="hidden" name="backup_name" value="{{pair[1]}}" />
                        <input type="submit" value="Show Backup" class="btn btn-default" />
                    </form>
                </li>
            {% endfor %}
        </ul>
{% endblock %}